* {
  box-sizing: border-box;
}
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
html,
body {
  /* background-image: url("./img/unsplashimg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
  height: 100vh;
  background: linear-gradient(to bottom, #00ccff 0%, #99ff99 100%);
  /* padding-bottom: 20px; */
}

/* The Close Button */
.CloseBtn {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
}

/* Style the tab */
/* .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
} */

/* Style the buttons inside the tab */
/* .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
} */

/* Change background color of buttons on hover */
/* .tab button:hover {
  background-color: #ddd;
} */

/* Create an active/current tablink class */
.tablink {
  /* box-shadow: 0 4px #999; */
  margin: 5px;
  font-size: 2.8vh;
  font-weight: 400;
  border-radius: 15px;
}
.clearBtn {
  font-size: 18px;
  margin-left: 2px;
  /* border-radius: 50%; */
  /* border: 1px solid whitesmoke; */
  color: lightcoral;
  /* color: black; */
  font-weight: bold;
  cursor: pointer;
}
.truetablink {
  /* box-shadow: 0 4px #999; */
  background-color: aquamarine;
  margin: 5px;
  font-size: 2.8vh;
  font-weight: 400;
  border-radius: 15px;
}
.tablink:active {
  /* background-color: rgba(18, 245, 164, 0.87); */
  /* box-shadow: 0 5px #666; */
  transform: translateY(3px);
}

.loader {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 1;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .maindiv1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-color: palegreen;
  background-color: #04272d;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1vh;
  height: 6.5vh;
} */
.maindiv1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-color: palegreen;
  background-color: #04272d;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1vh;
  height: 6.5vh;
}
.maindiv2 {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  height: 80vh;
  background-color: #04272d;
  border-color: limegreen;
  border-width: 1px;
  border-radius: 12px;
}
.ant-btn:hover,
.ant-btn:focus {
  color: black;
  border-color: aquamarine;
}
