@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
* {
    box-sizing: border-box;
}
:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}
html,
body {
    height: 100vh;
    width: 100vw;
    /* background-image: url("./img/Inn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
    font-family: "Poppins";
}

/* The Close Button */
.CloseBtn {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.tablink {
    /* box-shadow: 0 4px #999; */
    margin: 5px;
    font-size: 2.8vh;
    font-weight: 400;
    border-radius: 15px;
}
.clearBtn {
    font-size: 18px;
    margin-left: 2px;
    color: lightcoral;
    font-weight: bold;
    cursor: pointer;
}
.truetablink {
    background-color: aquamarine;
    margin: 5px;
    font-size: 2.8vh;
    font-weight: 400;
    border-radius: 15px;
}
.tablink:active {
    transform: translateY(3px);
}

.maindiv1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: palegreen;
    background-color: #04272d;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1vh;
    height: 6.5vh;
}
.maindiv2 {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;
    margin-top: 25px;
}
.ant-btn:hover,
.ant-btn:focus {
    color: black;
    border-color: aquamarine;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .maindiv2 {
        margin-right: 3%;
        margin-left: 3%;
        width: fit-content;
    }
    .mainContainer {
        align-items: center;
    }
}

@media only screen and (max-width: 450px) {
    .maindiv2 {
        margin-right: 5%;
        margin-left: 5%;
        width: fit-content;
    }
    .mainContainer {
        align-items: center;
    }
}
