.rightsidebardiv {
  display: flex;
  flex: 3;
  border-width: 1px;
  border-color: limegreen;
  border-style: solid;
  flex-direction: column;
  padding: 2px;
  background-color: aquamarine;
}
.chatblockdiv {
  border-radius: 9px;
  border-width: 1px;
  /* border-color: black; */
  border-style: solid;
  font-weight: normal;
  padding: 5px;
  margin-bottom: 3px;
  color: aquamarine;
  background-color: #04272d;
  /* border-top-left-radius: initial; */
  margin-right: 2px;
}
.GCCdiv1 {
  flex-direction: row;
  /* border-width: 1px;
  border-style: solid; */
  border-radius: 12px 0px 0px 12px;
  padding: 0.3vh 0.3vw 0.3vh 0.3vw;
}
.scrollBottom {
  height: 87%;
}
.bottomScroll {
  background-color: black;
  margin-right: 43%;
}
