.navbardiv {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
  margin-left: 10%;
  padding-right: 10px;
  padding-left: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  background-color: #001529;
  /* back ground-color: #023d47; */
  line-height: 5vh;
  margin-bottom: 10px;
  color: #a9fd00;
  align-items: center;
}
.login {
  background-color: #a9fd00;
  border-radius: 15px;
  height: 5vh;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 20px;
}
.register {
  background-color: #3ff5df;
  border-radius: 15px;
  height: 5vh;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 20px;
}
